asgiref==3.11.0
Django==6.0.1
django-admin-honeypot==1.1.0
gunicorn==25.1.0
packaging==26.0
sqlparse==0.5.5
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==202602
user-agents==2.2.0
whitenoise==6.11.0
