.about-page {
    width: 100%;
    height: calc(100vh - 10vh - 5vh);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
}

.about-block {
    width: min(32vw, 520px);
    min-width: 300px;

    max-height: 100%;

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);

    border-radius: 1.5vw;
    padding: 3vh 2.5vw;

    box-shadow: 0 1vh 4vh rgba(0, 0, 0, 0.25);

    color: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-block > p {
    font-size: 1.3vw;
    color: #000;
}

.about-img {
    width: 30vw;
    height: 60vh;
}