{% extends "template.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" media="screen" href="{% static 'app/css/feedback-style.css' %}">
{% endblock %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
<div class="feedback-page">
    <div class="feedback-block">
        <p>Если у вас есть замечания или предложения по работе сайта, вы можете оставить их здесь.</p>
        <form>
            <input type="text" placeholder="ФИО" required>
            <input type="text" placeholder="Email для обратной связи">
            <textarea placeholder="Ваше предложение..." required></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}