{% extends "template.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" media="screen" href="{% static 'app/css/about-style.css' %}">
{% endblock %}

{% block title %}Секретная страница{% endblock %}

{% block content %}
<div class="about-page">
    <img class="about-img" src="{% static 'app/images/lock.png' %}">
    <div class="about-block">
        <p>Вы обнаружили скрытый маршрут, к которому обычные пользователи не должны иметь доступ. Система предполагает, что это может быть бот, исследующий сайт. Эта страница предназначена для тестирования внутренних функций и отслеживания нестандартных действий.</p>
    </div>
</div>
{% endblock %}
